html, body {
    font-family: neuzeit-grotesk, sans-serif;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}

.items-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.items-container > * {
    flex: 1 1 0px;
    margin: 2%;
    background-color: rgb(255, 215, 0);
    border-radius: 4px;
    padding: 1.5%;
}